@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
}

html, body {
    background: #EEE5E9;
}



.row {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
}

.product, .product--pink, .product--yellow, .product--green, .product--red, .product--orange, .product--blue {
    box-shadow: 1px 5px 15px #CCC;
    width: 15em;
    height: auto;
    border-radius: 3px;
    padding: 2em;
    margin: 1em;
    overflow: hidden;
    position: relative;
    flex: auto;
}

.product--blue {
    background: linear-gradient(-45deg, #92DCE5 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--orange {
    background: linear-gradient(-45deg, #EF6F6C 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--red {
    background: linear-gradient(-45deg, #E84855 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--green {
    background: linear-gradient(-45deg, #70C1B3 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--yellow {
    background: linear-gradient(-45deg, #E8DB7D 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--pink {
    background: linear-gradient(-45deg, #FF386D 50%, rgba(255, 255, 255, 0.5) 50%);
}

    .product img, .product--blue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img {
        max-width: 100%;
        height: auto !important;
        text-align: center;
    }

.product_inner {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

    .product_inner p {
        color: rgba(255, 255, 255, 0.9);
    }

    .product_inner button {
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #FFF;
        border-radius: 3px;
        padding: 1em 3em;
        margin: 1em 0 0 0;
        background: none;
        cursor: pointer;
        transition: background ease-in 0.25s;
        text-decoration: none;
    }

        .product_inner button:hover {
            background: white;
            color: black;
        }

        .product_inner button:before {
            font-family: FontAwesome;
            content: "";
            color: #FFF;
            position: absolute;
            font-size: 1.5em;
            margin: 0 -1.5em;
        }

        .product_inner button:hover:before {
            color: black;
        }

.product_overlay {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-500px);
    opacity: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

    .product_overlay h2 {
        color: rgba(43, 45, 66, 0.7);
        font-size: 1.2em;
        margin: 1em 0;
    }

    .product_overlay i {
        color: rgba(43, 45, 66, 0.7);
        font-size: 1.5em;
    }


header {
    /*    width: 100%;*/
    height: auto;
    position: sticky;
    top: 0;
    /*    border: 1px solid red;*/
    z-index: 100;
}

.banner {
    background: var(--brand-01);
    color: var(--light-01);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    color: var(--text-01);
    font-weight: 600;
    height: 64px;
    background: var(--light-01);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--pg-margin);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 100;
}

    nav ul.navigation-menu {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        position: relative;
        top: 0;
    }

    nav .navigation-menu a {
        font-size: 16px;
        text-decoration: none;
        color: var(--text-01);
    }

    nav .navigation-menu > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*    justify-items: center;*/
    }

        nav .navigation-menu > li > a {
            position: relative;
            /*    border: 1px solid purple;*/
            padding: 0 20px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-items: center;
        }

        nav .navigation-menu > li:hover ul.subnav {
            visibility: visible;
            opacity: 1;
            top: 64px;
        }


        nav .navigation-menu > li > ul.subnav {
            /*    border: 1px solid green;*/
            visibility: hidden;
            position: absolute;
            display: flex;
            flex-direction: row;
            top: 66px;
            background: var(--light-01);
            box-shadow: var(--card-hover);
            border-radius: 12px;
            opacity: 0;
            transition: var(--hover-timing);
        }


    nav > #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 8px;
        line-height: 100%;
    }

        nav > #logo > span {
            font-size: 32px;
        }

    nav > #utility {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 16px;
    }

button.a{
    text-decoration: none;
    color: black;
    
}

a {
    text-decoration: none;
    color: black;
}
