/* Design Inspired by Shotime- Giga Tamarashvili
https://dribbble.com/shots/5329424-Shotime */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .625rem;
}

::-webkit-scrollbar-thumb {
    background: #efefef;
}

::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 100);
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, .30);
}

    a:hover {
        color: rgba(0, 0, 0, 0.25);
    }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
    background-color: #f6f6f6;
    height: 100vh;
}

.container {
    position: relative;
    width: 90vw;
    margin: 0 auto;
}

h1,
h2,
h3,
button,
label,
figcaption,
.special {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-weight: 800;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0 0 0;
    width: 100%;
}



.tagline {
    font-size: .75rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .95);
}

main {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 3rem;
}

.aside-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100vh;
    width: 5rem;
    padding-right: 3rem;
}

.page-heading {
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    width: 5rem;
}

    .page-heading > h2 {
        font-size: 3.25rem;
        line-height: 3rem;
    }

    .page-heading > h3 {
        text-transform: lowercase;
        font-weight: 600;
        color: rgba(0, 0, 0, .4);
        font-size: 1.75rem;
    }

.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.item-nav {
    width: 30rem;
    text-align: center;
    padding: 3rem 0 0 0;
}

.category-description {
    padding: 1rem 1rem 0 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .4);
}

.category-cta {
    padding-top: 1rem;
}

.products {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.item-card,
.image-wrapper,
.content-wrapper {
    width: 28rem;
}

.item-card {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    border-radius: 2rem;
    margin: 3rem;
    transition: all 0.3s ease-in-out;
    box-shadow: /* https://css-tricks.com/almanac/properties/b/box-shadow/ */
    0 0.175rem 0.1375rem rgba(0, 0, 0, 0.035), 0 0.425rem 0.375rem rgba(0, 0, 0, 0.045), 0 0.75rem 0.625rem rgba(0, 0, 0, 0.050), 0 1.400rem 1.19rem rgba(0, 0, 0, 0.065), 0 2.613rem 2.088rem rgba(0, 0, 0, 0.085), 0 6.25rem 5rem rgba(0, 0, 0, 0.15)
}

.image-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0 3rem 1rem 0;
    width: 100%;
    height: 25rem;
}

.item-intro {
    position: absolute;
    width: 100%;
    height: 20rem;
    padding: 2.5rem 2.5rem 0 2.5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.content-wrapper {
    padding: 1rem;
}

#item-img-1 {
    background-image: url("https://i.pinimg.com/564x/5b/47/d5/5b47d5ae12076ee02e13155f53c8e991.jpg");
}

#item-img-2 {
    background-image: url("../images/Chest.png");
    background-position: center right;
}



.item-more-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem;
    font-weight: 400;
    color: #efefef;
    letter-spacing: .025rem;
}

.brand {
    color: #fff;
    font-size: 3rem;
    text-shadow: .125rem .125rem #000;
}

.price {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    border-radius: 15rem;
    padding: 1rem;
    width: 5.75rem;
    background-color: #000;
}

.special {
    padding-bottom: 1rem;
    color: #000;
    border-radius: 2rem;
    font-weight: 900;
    font-size: 1rem;
}

.price-special {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

button {
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    font-size: 1.1rem;
    width: 11rem;
    padding: 1em;
    border-radius: 2em;
    border: 2px solid #cdcdcd;
    color: rgba(0, 0, 0, .95);
    background-color: #ededed;
    transition: all 0.2s;
    margin-top: 2rem;
}


    button:hover {
        box-shadow: 0 0.5em 0.5em -0.4em #ccc;
        transform: translateY(-0.25em);
    }

label {
    font-weight: 600;
    padding: .25rem;
}

.select-attr {
    padding: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.item-basic-info {
    position: aboslute;
    top: 0;
    left: 0;
}

    .item-basic-info > h1 {
        color: #fff;
        font-size: 5rem;
    }

    .item-basic-info > h2 {
        color: #fff;
        font-size: 1.75rem;
    }

select {
    user-select: none;
    background-color: #fff;
    border-radius: 1em;
    width: 4rem;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
}

figcaption {
    display: inline-block;
    font-size: .5rem;
    color: rgba(0,0,0, 100);
    text-transform: uppercase;
}

#item-img-3 > figure > figcaption {
    color: #fff;
}

.description {
    line-height: 1.5rem;
    text-align: justify;
    color: rgba(0, 0, 0, .95);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

@media (max-width: 700px) {

    body {
        width: 100vw;
    }

    #logo {
        top: .25rem;
        height: 10rem;
        width: 10rem;
    }

    nav {
        flex-flow: row wrap;
    }

    main {
        flex-flow: row wrap;
    }

    .aside-container {
        height: auto;
        width: 100%;
        justify-content: center;
        padding-right: 0;
    }

    .page-heading {
        text-align: center;
        writing-mode: horizontal-tb;
        transform: none;
        width: 100%;
        padding-top: 3rem;
    }

        .page-heading > h2 {
            font-size: 6.5vw;
            line-height: 6vw;
        }

        .page-heading > h3 {
            font-size: 5vw;
        }

    .category-description {
        font-size: .9rem;
    }

    .category-cta {
        padding-bottom: 1rem;
    }

    .content {
        max-width: 80vw;
    }

    .content-wrapper {
        width: 80vw;
    }

    .item-nav {
        padding: 0;
        width: 80vw;
    }

    .products {
        width: 100%;
    }

    .item-card {
        margin: 1rem 0;
    }

    .item-intro {
        height: 20rem;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-between;
    }

    .image-wrapper {
        height: 18rem;
    }

    figcaption {
        width: 20rem;
        height: 15rem;
        display: flex;
        justify-content: center;
    }

    .select-attr {
        flex-flow: column wrap;
    }

    select {
        width: 80%;
    }
}



header {
    height: auto;
    position: sticky;
    top: 0;
    z-index: 100;
}

.banner {
    background: var(--brand-01);
    color: var(--light-01);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    color: var(--text-01);
    font-weight: 600;
    height: 64px;
    background: var(--light-01);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--pg-margin);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 100;
}

    nav ul.navigation-menu {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        position: relative;
        top: 0;
    }

    nav .navigation-menu a {
        font-size: 16px;
        text-decoration: none;
        color: var(--text-01);
    }

    nav .navigation-menu > li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        nav .navigation-menu > li > a {
            position: relative;
            padding: 0 20px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-items: center;
        }

        nav .navigation-menu > li:hover ul.subnav {
            visibility: visible;
            opacity: 1;
            top: 64px;
        }


        nav .navigation-menu > li > ul.subnav {
            visibility: hidden;
            position: absolute;
            display: flex;
            flex-direction: row;
            top: 66px;
            background: var(--light-01);
            box-shadow: var(--card-hover);
            border-radius: 12px;
            opacity: 0;
            transition: var(--hover-timing);
        }


    nav > #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 8px;
        line-height: 100%;
    }

        nav > #logo > span {
            font-size: 32px;
        }

    nav > #utility {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 16px;
    }

a {
    text-decoration: none;
}


button.a {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}
