* {
    box-sizing: border-box;
    top: 150px;
}

body {
    background-color: #ECEFF1;
  
}


.group:after {
    content: "";
    display: table;
    clear: both;
}


.ui.grid > .row > .column {
    padding-left: 0;
    padding-right: 0;
}

.ui.centered.grid {
    position: relative;
    top: 30%;
    margin-top: -200px;
}



.proCard_content {
    width: 872px;
    box-shadow: 0px 0px 48px 0px rgba(38, 50, 56, 0.25);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    top: 200px;
}


.proCard_info {
    width: 60%;
    height: 400px;
    float: left;
    background: #D9E4F4;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: left;
    padding: 25px;
}

.proCard_text {
    height: 85%;
}


.brand-name {
    display: block;
    margin-bottom: 10px;
}

    .brand-name h3 {
        float: left;
        text-transform: uppercase;
    }

.proCard_price {
    font-size: 35px;
    float: right;
    color: #37474F;
    font-weight: bold;
}


.proCard_description {
    margin-bottom: 20px;
}

    .proCard_description h4 {
        margin-bottom: 8px;
    }

    .proCard_description p {
        text-indent: 40px;
    }


    .proCard_colors li span {
        width: 25px;
        height: 25px;
        border-radius: 25%;
        background: black;
        display: block;
        cursor: pointer;
    }



.proCard_buttons {
    height: 15%;
    display: flex;
    justify-content: center;
}

.ui.button {
    float: left;
    padding: 19px 40px;
    border-radius: 10px;
    background: #E91E63 !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
    color: #FFF !important;
    transition: .5s;
}

    .ui.button:hover {
        background: rgba(233, 30, 99, 0.7) !important;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0);
        color: #FFF;
    }


.proCard_images-section {
    width: 40%;
    height: 400px;
    float: right;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    top: 3%;
}

.proCard_slider img {
    width: 100%;
    height: 400px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}






































.ui.centered.grid {
    position: relative;
    top: 20%;
    margin-top: -2px;
}

