<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Descarga</title>
	<link rel="stylesheet" href="~/css/Descargar.css">

</head>

<body>


	<header>
		<div class="banner"></div>
		<nav>

			<div id="logo">



				The <br> Warrior
			</div>
			<ul class="navigation-menu">
				<li>

					<a asp-controller="Home" asp-action="Productos">Tienda</a>
				<li>
					<a asp-controller="Home" asp-action="Descargar">Descargar</a>


				</li>
				<li>
					<a asp-controller="Home" asp-action="Cuenta">Cuenta</a>

				</li>

			</ul>

		</nav>
	</header>


	<div class="dashboard">

		<div class="data">
			<div class="schedule-table neo-box">
				<div class="subtitle">
					<h2></h2>
				</div>
				<table>
					<img src="~/images/linux.png" alt="50">
				</table>

				<button>Descargar para Linux</button>
			</div>

			<div class="exercise-table neo-box">
				<div class="subtitle">
					<h2></h2>
				</div>
				<table>
					<img src="~/images/android.jpg">
				</table>
				<button>
					<a href="https://play.google.com/store/apps/details?id=org.godotengine.gamehappy&amp;pli=1" type="button">
						Descargar para Android
					</a>
				</button>
				
				
			</div>

			<div class="exercise-table neo-box">
				<div class="subtitle">
					<h2></h2>
				</div>
				<table>
					<img src="~/images/Microsoft .jpg">
				</table>
				<button>Descargar para Windows </button>
			</div>


			<div class="activity-feed">
				<p class="marquee"><span><span> Descarga nuestra app en tu dispositivo favorito!!!</span></span></p>
			</div>
		</div>

</body>
</html>
