<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="~/css/Error.css">

</head>
<body>
    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="~/css/Error.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error</title>
    </head>
    <body>
        <div class="game">
            <img class="pipe" src="https://github.com/LeehXD/MINI-GAME-MARIO/blob/main/MARIO/img/pipe.png?raw=true" alt="cano">
            <img class="clouds" src="https://github.com/LeehXD/MINI-GAME-MARIO/blob/main/MARIO/img/clouds.png?raw=true" alt="nuvem">
            <button class="start" onclick="startGame()">Sucedio un error en la aplicacion</button>
        </div>

    </body>
    <script src="~/js/Error.js"></script>
</html>
<script src="js/Error.js"></script>

</body>
</html>