<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Comenzar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:500,800" rel="stylesheet">
	<link rel="stylesheet" href="css/Inicio.css">

</head>
<body>
	<div class="wrapper run-animation" id="animate">
		<div class="logo">

			<span class="marvel">THE</span>
			<span class="studios">WARRIOR </span>

			<div>
			 <a asp-controller="Home" asp-action="Index" class="restart">Comenzar</a>
			</div>
		</div>
	</div>

	<div class="images"></div>
	<script src="~/js/Inicio.js"></script>

</body>
</html>