<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monedas</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Monedas.css">

</head>
<body>

    <header>
        <div class="banner"></div>
        <nav>

            <div id="logo">



                The <br> Warrior
            </div>
            <ul class="navigation-menu">
                <li>

                    <a asp-controller="Home" asp-action="Productos">Tienda</a>
                <li>
                    <a asp-controller="Home" asp-action="Descargar">Descargar</a>


                </li>
                <li>
                    <a asp-controller="Home" asp-action="Cuenta">Cuenta</a>

                </li>

            </ul>

        </nav>
    </header>
    <div class='row'>
        <div class='product--blue'>
            <div class='product_inner'>
                <img src='~/images/monedas.png' width='300'>
                <p>Pila de monedas</p>
                <p>
                    550
                    monedas
                </p>
                <p>Precio $4,99</p>
                <button> 
                <a href="https://buy.stripe.com/test_7sIbMqfgMciw86c5kq">
                    Comprar
                </a>
                </button>
            </div>

        </div>
        <div class='product--orange'>
            <div class='product_inner'>
                <img src='~/images/monedas.png' width='300'>
                <p>Puñado de monedas</p>
                <p>
                    80
                    monedas
                </p>
                <p>Precio $0.99 </p>
                <button>
                    <a href="https://buy.stripe.com/test_7sIbMqfgMciw86c5kq">
                        Comprar
                    </a>
                </button>
            </div>
        </div>
        <div class='product--red'>
            <div class='product_inner'>
                <img src='~/images/monedas.png' width='300'>
                <p>Saco de monedas</p>
                <p>
                    2,500
                    monedas
                </p>
                <p>Precio $19,99</p>
                <button>
                <a href="https://buy.stripe.com/test_7sIbMqfgMciw86c5kq">
                    Comprar
                </a>
                </button>
            </div>

        </div>
        <div class='product--green'>
            <div class='product_inner'>
                <img src='~/images/monedas.png' width='300'>
                <p>Caja de monedas</p>
                <p>
                    6,500
                    monedas
                </p>
                <p>Precio $49,99</p>
                <button>
                    <a href="https://buy.stripe.com/test_7sIbMqfgMciw86c5kq">
                        Comprar
                    </a>
                </button>
            </div>

        </div>
        <div class='product--yellow'>
            <div class='product_inner'>
                <img src='~/images/monedas.png' width='300'>
                <p>Cofre de monedas</p>
                <p>
                    14,000
                    monedas
                </p>
                <p>Precio $99,99</p>
                <button>
                    <a href="https://buy.stripe.com/test_7sIbMqfgMciw86c5kq">
                        Comprar
                    </a>
                </button>
            </div>

        </div>
        <div class='product--pink'>
            <div class='product_inner'>
                <img src='~/images/monedas.png' width='300'>
                <p>Bolsa de Monedas</p>
                <p>
                    1,200
                    monedas
                </p>
                <p>Precio $9.99 </p>
                <button>
                    <a href="https://buy.stripe.com/test_7sIbMqfgMciw86c5kq">
                        Comprar
                    </a>
                </button>
            </div>

        </div>
    </div>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
    <script src="~/js/Monedas.js"></script>

</body>
</html>

