<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pago</title>
    <link rel="stylesheet" href="~/css/Pago.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">

    <div class="wrapper">
        <div class="payment">
            <div class="payment-logo">
                <p>TW</p>
            </div>


            <h2>Pasarela de pago</h2>
            <div class="form">
                <div class="card space icon-relative">
                    <label class="label">Nombre:</label>
                    <input type="text" class="input" placeholder="Nombre">
                    <i class="fas fa-user"></i>
                </div>
                <div class="card space icon-relative">
                    <label class="label">Numero tarjeta:</label>
                    <input type="text" class="input" data-mask="0000 0000 0000 0000" placeholder="Card Number">
                    <i class="far fa-credit-card"></i>
                </div>
                <div class="card-grp space">
                    <div class="card-item icon-relative">
                        <label class="label">Fecha vencimiento:</label>
                        <input type="text" name="expiry-data" class="input" placeholder="00 / 00">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                    <div class="card-item icon-relative">
                        <label class="label">CVC:</label>
                        <input type="text" class="input" data-mask="000" placeholder="000">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>

                <div class="btn">
                    <button type="button" class="btn btn-success">Pagar</button>

                </div>

            </div>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js'></script>
    <script src="/js/Pago.js"></script>

</body>
</html>
