<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Productos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="~/css/estilop.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
	<div class="site_wrapper">

		<div class="logo">THE WARRIOR</div>
		<form action="">
			<i class="fas fa-search fa-sm"></i>
			<input type="text" class="search" placeholder="">
		</form>
		<ul class="nav_links">
			<li class="link">Inicio<i class="link_icon fa fa-home"></i></li>
			<li class="link">Descargar<i class="link_icon fa fa-download"></i></li>
			<li class="link"><i class="link_icon fas fa-info"></i></li>
		</ul>

		<section class="sneaker grid_item1">
			<h3 class="title"></h3>
			<p></p>
			<div class="slides">
<img src="~/images/vida.jpg" class="sneaker_img fc4D sneaker_fc1">
<img src="~/images/vida.jpg" class="sneaker_img fc4D sneaker_fc1">
<img src="~/images/vida.jpg" class="sneaker_img fc4D sneaker_fc1">
<img src="~/images/vida.jpg" class="sneaker_img fc4D sneaker_fc1">

			</div>
			<a asp-controller="Home" asp-action="Vida" class="cta_button">
				Aumento de vidas
			</a>
		</section>

		<section class="sneaker grid_item2">
			<h3 class="title"></h3>
			<p></p>
			<div class="slides">
				<img src="~/images/Chest.png" class="sneaker_img offWhite sneaker_off1">
								<img src="~/images/Chest.png" class="sneaker_img offWhite sneaker_off1">

												<img src="~/images/Chest.png" class="sneaker_img offWhite sneaker_off1">

				<img src="~/images/Chest.png" class="sneaker_img offWhite sneaker_off1">

			</div>
			
				<a asp-controller="Home" asp-action="Monedas" class="cta_button">
					Aumento en bonificación en cofres
				</a>
			
		</section>

		<section class="sneaker grid_item3">
			<h3 class="title"></h3>
			<p></p>
			<div class="slides">
				<img src="~/images/zaira.jpg" class="sneaker_img vans sneaker_vans1">
								<img src="~/images/zaira.jpg" class="sneaker_img vans sneaker_vans1">

				<img src="~/images/zaira.jpg" class="sneaker_img vans sneaker_vans1">

								<img src="~/images/zaira.jpg" class="sneaker_img vans sneaker_vans1">


			</div>
			<a asp-controller="Home" asp-action="Monedas" class="cta_button">
				Aumento de beneficios en los npc
			</a>
		</section>

		<section class="social_links">
			<ul>
				<li class="social_link"></li>
				<li class="social_link"></li>
				<li class="social_link"></li>
			</ul>
		</section>

		<article class="blog">
			<h2>Añadiendo diversión a tu vida <i class="fas fa-caret-right"></i></h2>
		</article>

	</div>
	<script src="~/js/scriptp.js"></script>

</body>
</html>
